<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <script src="https://kit.fontawesome.com/8dd40d4479.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="left_part">
                <a href="#" class="logo">
                    <img src="../images/logo.svg" alt="logo" class="logo_img">
                    <div class="logo_text">bran<span class="letter_D">d</span></div>
                </a>

                <details>
                    <summary class="browse">Browse
                        <i class="fa-solid fa-caret-down fa-caret-down-browse"></i>
                    </summary>
                </details>
                <form action="">
                    <input type="text" placeholder="Search for item..." class="search">
                    <button class="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="right_part">
                <img src="../images/cart.svg" alt="cart" class="cart">
                <div class="account_details">My Account
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
        </header>
    </div>
    <hr class="line">
    <nav>
        <div class="container">
            <ul class="menu">
                <li class="menu_list"><a href="#" class="menu_link">HOME</a></li>
                <li class="menu_list"><a href="#" class="menu_link">MEN</a>
                    <div class="mega_box">
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">WOMEN</a>
                    <div class="mega_box">
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">KIDS</a>
                    <div class="mega_box">
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                    </div>
                </li>
                <li class="menu_list"><a href="#" class="menu_link">ACCESSORIES</a>
                    <div class="mega_box">
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                    </div>
                </li>
                <li class="menu_list last"><a href="#" class="menu_link">FEATURED</a>
                    <div class="mega_box">
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                    </div>
                </li>
                <li class="menu_list last"><a href="#" class="menu_link">HOT DEALS</a>
                    <div class="mega_box">
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                        <div class="mega_item">
                            <h3 class="mega_header">Man</h3>
                            <a href="#" class="mega_link">Dresses</a>
                            <a href="#" class="mega_link">Tops</a>
                            <a href="#" class="mega_link">Sweaters/Knits</a>
                            <a href="#" class="mega_link">Jackets/Coats</a>
                            <a href="#" class="mega_link">Blazers</a>
                            <a href="#" class="mega_link">Denim</a>
                            <a href="#" class="mega_link">Leggings/Pants</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="site_nav">
            <div class="container nav">
                <p class="text_nav">New arrivals</p>
                <div class="bread_crumbs">
                    <a href="../../public/index.html" class="main_nav">Home</a>/
                    <a href="#" class="main_nav">Men</a>/
                    <div class="main_nav last_nav"> New arrivals</div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <section class="accordion">
            <details>
                <summary class="accordion_item no-padding">01. Shipping Address</summary>
                <div class="accordion_content">
                    <div class="content_left">
                        <p class="accordion_content_main">Check as a guest or register</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Checkout as guest</span>
                        </label>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Register</span>
                        </label>
                        <p class="accordion_content_main">Register and save time!</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Fast and easy checkout</p>
                        </div>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Easy access to your order history and status</p>
                        </div>
                        <a href="#" class="accordion_button">Continue</a>
                    </div>
                    <div class="content_right">
                        <p class="accordion_content_main">Already registered ?</p>
                        <p class="accordion_content_add">Please log in below</p>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Email address</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Password</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <p class="required">* Required Fields</p>
                        <div class="button_block">
                            <a href="#" class="accordion_button">Log in</a>
                            <a href="#" class="forgot">Forgot Password ?</a>
                        </div>

                    </div>
                </div>

            </details>
            <details>
                <summary class="accordion_item">02. BILLING INFORMATION</summary>
                <div class="accordion_content">
                    <div class="content_left">
                        <p class="accordion_content_main">Check as a guest or register</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Checkout as guest</span>
                        </label>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Register</span>
                        </label>
                        <p class="accordion_content_main">Register and save time!</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Fast and easy checkout</p>
                        </div>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Easy access to your order history and status</p>
                        </div>

                        <a href="#" class="accordion_button">Continue</a>
                    </div>
                    <div class="content_right">
                        <p class="accordion_content_main">Already registered ?</p>
                        <p class="accordion_content_add">Please log in below</p>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Email address</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Password</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <p class="required">* Required Fields</p>
                        <div class="button_block">
                            <a href="#" class="accordion_button">Log in</a>
                            <a href="#" class="forgot">Forgot Password ?</a>
                        </div>

                    </div>
                </div>

            </details>
            <details>
                <summary class="accordion_item">03. Shipping information</summary>
                <div class="accordion_content">
                    <div class="content_left">
                        <p class="accordion_content_main">Check as a guest or register</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Checkout as guest</span>
                        </label>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Register</span>
                        </label>
                        <p class="accordion_content_main">Register and save time!</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Fast and easy checkout</p>
                        </div>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Easy access to your order history and status</p>
                        </div>

                        <a href="#" class="accordion_button">Continue</a>
                    </div>
                    <div class="content_right">
                        <p class="accordion_content_main">Already registered ?</p>
                        <p class="accordion_content_add">Please log in below</p>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Email address</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Password</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <p class="required">* Required Fields</p>
                        <div class="button_block">
                            <a href="#" class="accordion_button">Log in</a>
                            <a href="#" class="forgot">Forgot Password ?</a>
                        </div>

                    </div>
                </div>

            </details>
            <details>
                <summary class="accordion_item">04. Shipping method</summary>
                <div class="accordion_content">
                    <div class="content_left">
                        <p class="accordion_content_main">Check as a guest or register</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Checkout as guest</span>
                        </label>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Register</span>
                        </label>
                        <p class="accordion_content_main">Register and save time!</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Fast and easy checkout</p>
                        </div>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Easy access to your order history and status</p>
                        </div>

                        <a href="#" class="accordion_button">Continue</a>
                    </div>
                    <div class="content_right">
                        <p class="accordion_content_main">Already registered ?</p>
                        <p class="accordion_content_add">Please log in below</p>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Email address</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Password</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <p class="required">* Required Fields</p>
                        <div class="button_block">
                            <a href="#" class="accordion_button">Log in</a>
                            <a href="#" class="forgot">Forgot Password ?</a>
                        </div>

                    </div>
                </div>

            </details>
            <details>
                <summary class="accordion_item">05. Payment method</summary>
                <div class="accordion_content">
                    <div class="content_left">
                        <p class="accordion_content_main">Check as a guest or register</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Checkout as guest</span>
                        </label>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Register</span>
                        </label>
                        <p class="accordion_content_main">Register and save time!</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Fast and easy checkout</p>
                        </div>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Easy access to your order history and status</p>
                        </div>

                        <a href="#" class="accordion_button">Continue</a>
                    </div>
                    <div class="content_right">
                        <p class="accordion_content_main">Already registered ?</p>
                        <p class="accordion_content_add">Please log in below</p>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Email address</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Password</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <p class="required">* Required Fields</p>
                        <div class="button_block">
                            <a href="#" class="accordion_button">Log in</a>
                            <a href="#" class="forgot">Forgot Password ?</a>
                        </div>

                    </div>
                </div>

            </details>
            <details>
                <summary class="accordion_item last_item">06. Order review</summary>
                <div class="accordion_content last_item">
                    <div class="content_left">
                        <p class="accordion_content_main">Check as a guest or register</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Checkout as guest</span>
                        </label>
                        <label class="input_block">
                            <input type="radio" name="register" class="real-radio-btn">
                            <span class="custom-radio-btn"></span>
                            <span class="input_text">Register</span>
                        </label>
                        <p class="accordion_content_main">Register and save time!</p>
                        <p class="accordion_content_add">Register with us for future convenience</p>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Fast and easy checkout</p>
                        </div>
                        <div class="mini_container">
                            <i class="fa-solid fa-angles-right"></i>
                            <p class="accordion_content_add modify">Easy access to your order history and status</p>
                        </div>

                        <a href="#" class="accordion_button">Continue</a>
                    </div>
                    <div class="content_right">
                        <p class="accordion_content_main">Already registered ?</p>
                        <p class="accordion_content_add">Please log in below</p>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Email address</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <div class="input_block_add">
                            <label>
                                <span class="label_block">
                                    <span class="input_text right_text">Password</span>
                                </span>
                                <input type="text" class="input_data" required>
                            </label>
                        </div>
                        <p class="required">* Required Fields</p>
                        <div class="button_block">
                            <a href="#" class="accordion_button">Log in</a>
                            <a href="#" class="forgot">Forgot Password ?</a>
                        </div>

                    </div>
                </div>

            </details>
        </section>
    </div>
    <section>
        <div class="info_block">
            <div class="container stage">
                <div class="info_left">
                    <figure class="info_main">
                        <div class="info_face">
                            <img src="../images/face.png" alt="face" class="face">
                            <div class="info">
                                <p class="pers_info">“Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                                    a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                                <p class="add_info"><span class="author_highlighted">Bin Burhan</span>
                                    Dhaka, Bd</p>
                                <div class="selector_main">
                                    <div class="selector"></div>
                                    <div class="selector"></div>
                                    <div class="selector"></div>
                                </div>
                            </div>
                        </div>

                    </figure>
                </div>
                <div class="info_right">
                    <div class="subscribe_block">
                        <div class="subscribe_info"><span class="subscribe_highlighted">Subscribe</span><br>
                            FOR OUR NEWLETTER AND PROMOTION</div>
                        <div class="submit_block">
                            <input type="text" class="email" placeholder="Enter your email">
                            <input type="submit" class="subscribe_button" value="Subscribe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container bottom">
            <div class="logo_part">
                <a href="#" class="logo">
                    <img src="../images/logo.svg" alt="logo" class="logo_img">
                    <div class="logo_text">bran<span class="letter_D">d</span></div>
                </a>
                <p class="footer_text">Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. </p>
                <p class="footer_text">Efficiently plagiarize 24/365 action items and focused infomediaries.
                    Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
            </div>
            <div class="company_part">
                <div class="info_part">
                    <h3 class="part_header">Company</h3>
                    <a href="#" class="info_link">Home </a>
                    <a href="#" class="info_link">Shop</a>
                    <a href="#" class="info_link">About</a>
                    <a href="#" class="info_link">How It Works</a>
                    <a href="#" class="info_link">Contact</a>
                </div>
            </div>
            <div class="info_part">

                <div class="info_part">
                    <h3 class="part_header">Information</h3>
                    <a href="#" class="info_link">Home </a>
                    <a href="#" class="info_link">Shop</a>
                    <a href="#" class="info_link">About</a>
                    <a href="#" class="info_link">How It Works</a>
                    <a href="#" class="info_link">Contact</a>
                </div>

            </div>
            <div class="shop_part">
                <div class="info_part">
                    <h3 class="part_header">Shop category</h3>
                    <a href="#" class="info_link">Home</a>
                    <a href="#" class="info_link">Shop</a>
                    <a href="#" class="info_link">About</a>
                    <a href="#" class="info_link">How It Works</a>
                    <a href="#" class="info_link">Contact</a>
                </div>

            </div>
        </div>
        <div class="footer_bottom">
            <div class="container rights">
                <p class="rights_text">© 2017  Brand  All Rights Reserved.</p>
                <div class="icons_box">
                    <a href="#" class="social_link">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social_link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="social_link">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social_link">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </a>
                    <a href="#" class="social_link">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>